<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>User Profile</title>
</head>
<body>
 <h1>Profile Page</h1>
 <h3>Welcome {{name}}</h3>
 {% if messages %}
  {% for message in messages %}
   <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
  {% endfor %}
 {% endif %}
 <a href="{% url 'changepass' %}">change passwaord</a>
 <a href="{% url 'changepass1' %}">change1 passwaord</a>
 <a href="{% url 'logout' %}">Logout</a>
</body>
</html>