
{% load static %}
<div style="border:1px solid white;">
    <div style="text-align:center;">
        <img src=" {% static 'core/images/professionl.jpg' %}"alt="profilepic"class="img-fluid rounded-circle mt-1" heght="100px" width="100px">
        <h5 class="text-white mt-3 ">Rekha Priya</h5>
    </div>
    <hr class="border-light">
       <nav class="nav flex-column text-center:" >
            <a href="" class="nav-link">Home</a>
            <a href="" class=" nav-link">Services</a>
            <a href="" class="nav-link">Skill</a> <a href="" class=" nav-link">contact</a>

        </nav>
    </div>
