{% extends "blog/base.html" %}
{% load static %} 
{% block content %}

<div class="col-sm-10">
    <h3 class="my-5">About Page</h3>
    <p>Curious which components explicitly require jQuery, our JS, and Popper.js? Click the show components link below. If you’re at all unsure about the general page structure, keep reading for an example page template
   </p>
    <p>Curious which components explicitly require jQuery, our JS, and Popper.js? Click the show components link below. If you’re at all unsure about the general page structure, keep reading for an example page template</p>

</div>
{% endblock content %}